<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/contacto.css">
    <link rel="stylesheet" href="../styles/navbar.css">
</head>
<body>
    <header>
        <img
          src="/assets/img/logoFerreteria.png"
          alt="logoFerreteria"
          class="logo"
        />
        <div class="navigation">
          <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
  
          <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
          </label>
  
          <div class="navigation__background">&nbsp;</div>
  
          <nav class="navigation__nav">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a href="#" class="navigation__link"><span>01</span>Inicio</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link"
                  ><span>02</span>Productos y Servicios</a
                >
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link"
                  ><span>03</span>Quienes Somos</a
                >
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link"><span>04</span>Contacto</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

    <section class="header-contact">
        <h1>Contacto</h1>
        <button>Enviar</button>
    </section>

    <section class="container"> 
        <div class="image-container">
            <img src="../assets/img/telefono.png" alt="Imagen 1" class="logos">
            <h2>Telefono</h2>
            <p>984 19 48 15</p>
        </div>
        <div class="image-container">
            <img src="../assets/img/location3.png" alt="Imagen 2" class="logos">
            <h2>Direccion</h2>
            <p>C/Aguado 36 33202 Gijon, Asturias</p>
        </div>
        <div class="image-container">
            <img src="../assets/img/message.png" alt="Imagen 3" class="logos">
            <h2>Mail</h2>
            <p>Envianos un email</p>
        </div>
    </section>

    <section>
        <div class="form-container">
            <form action="#" method="post">
                <legend>Escribe un mensaje</legend>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
    
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
    
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono">
                </div>
    
                <div class="form-group">
                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
                </div>
    
                <div class="form-group">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>

    </section>

    <footer>
        <div>
          <h2>FERRETERIA VEGAGRANDE</h2>
          <p>Ferretería en Gijón con más de 50 años de historia. Venta de material eléctrico, fontanería, herramientas, menaje del hogar,
            cerrajería, pintura… ¡Te esperamos!</p>
        </div>
        <div>
          <h2>Nuestra Web</h2>
          <a href="/index.html">Inicio</a>
          <a href="../templates/productos.html">Productos y Servicios</a>
          <a href="">Quienes Somos</a>
          <a href="../templates/contacto.html">Contacto</a>
        </div>
        <div>
          <h2>Contacto</h2>
          <p>
           
            984 19 48 15 <br />
            WhatsApp: <br />
            677 49 58 05 <br />
            Dirección: <br />
            C. Aguado, 36, 33202 Gijón, Asturias
          </p>
        </div>
      </footer>
    
</body>
</html>