<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./styles/403.css" rel="stylesheet">
</head>

<body>
    <div class="cage">
        <div class="bounce-image-container">
            <img src="./assets/img/download.png" alt="Tu imagen">
        </div>
        <div class="cage"></div>
        <h1><span>403</span></h1>

    </div>

    <a href="../index.html">
        <img class="logo" src="/assets/img/LogoYnombre.png" alt="Volver a la Página inicial">
    </a>

</body>

</html>