@import './navbar.css';
@import './cards.css';

@font-face {
    font-family: Montserrat-Regular;
    src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: Montserrat-thin;
    src: url('../assets/fonts/Montserrat/Montserrat-Thin.ttf');
}
@font-face {
    font-family: Montserrat-italic;
    src: url('../assets/fonts/Montserrat/Montserrat-Italic.ttf');
}
@font-face {
    font-family: Hedvig-18;
    src: url('../assets/fonts/Hedvig/HedvigLettersSerif_18pt-Regular.ttf');
}
@font-face {
    font-family: Hedvig-14;
    src: url('../assets/fonts/Hedvig/HedvigLettersSerif_14pt-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

*::before, *::after{
    box-sizing: inherit;
}

:root{
    --white: #ececec;
    --orange: rgba(242,148,0,255)
    --brown: rgba(75,47,27,255);
    --black: rgba(0,0,0,255);
    --blue: rgb(12,51,132);
    --shadow: 0 0 10px rgba(0,0,0,0.5);

    --color-secondary-light: #ffb900;
    --color-secondary-dark: #ff7730;

    --color-tertiary-light: #2998ff;
    --color-tertiary-dark: #5643fa;
}

body{
    font-family: Montserrat-Regular;
    background-color: var(--white);
    color: var(--black);
    font-size: 5rem;
    line-height: 1.5;
    overflow-x: hidden;
}

/* Cards Productos */






.card .__side{
    background-color: var(--orange);
    color: #fff;
    font-size: 2rem;
    height: 50rem;

    
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

}
.card__side--front{
    background-color: var(--white);
}

.card__side--back{
    background-color: var(--orange);
    transform: rotateY(180deg);
}

.card__side--back .-card__side--back-1{
    background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
}

.card:hover .card__side--front{
    transform: rotateY(180deg);
}
.card:hover .card__side--back{
    transform: rotateY(0);
}


.clientes{
    height: 300px;
}

/*Slide Comentarios Clientes*/
#slider-container {
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}
   
#slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
   
.slide {
    min-width: 100%;
    box-sizing: border-box;
}
   
.buttonSlide {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
}

.flecha{
    width: 40px;
    height: 40px;
}

.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.logos {
    display: flex;
    animation: scroll 9s linear infinite;
}

.logo {
    flex: 0 0 auto; 
    box-sizing: border-box;
    margin-right: 80px;
}

.logoMarca {
    width: 170px;
    height: 60px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-170px * 7)); /* Ajusta el número total de logos */
    }
}
